@import "../../constants/colors.scss";
@import "../../constants/dimensions.scss";

.memberDetailsContainer {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  margin: 10vh 0;
  padding-top: 20px;
}

.memberCard {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;

  @media (max-width: $md) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 25px;

    @media (max-width: $md) {
      margin: 30px 10px;
    }
  }

  &__panel p {
    margin-top: 25px;
    margin-bottom: 0px;

    @media (max-width: $md) {
      margin: 20px 10px 0;
      text-align: left;
    }
  }
}

.backButton {
  margin-right: auto;
  padding-left: 6%;
  color: $active;
}
