@import "../../constants/colors.scss";

.tableContainer {
  position: absolute;
  top: 150px;
  overflow-y: scroll;
  max-height: 65%;
}

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:hover {
  background-color: $active;
  color: $text;
}

.header {
  background-color: $secondary;

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__cell {
    width: 240px;
  }
}

.row {
  background-color: $text;
  color: $background;
}
