.tableContainer {
  position: absolute;
  top: 120px;
  overflow-y: scroll;
  height: 68vh;
}

.header {
  background-color: #66d9ef;

  &__title {
    display: flex;
    flex-direction: column;
  }
}

.row {
  background-color: #fff;
  color: #000;
}
